.chat-window {
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    padding-left: 150px;
}
.main-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.side-bar {
    border-bottom: 3px solid rgb(102,102,102);
    padding-bottom: 25px;
    padding-right: 150px;
}

.youtube {
    padding-left: 30px;
    justify-content: right;
}