.chat-window {
    align-items: center;
    justify-content: center;
    display: flex-end;
    background-color: green;
}
.main-wrapper {
    display: flex;
    flex-direction: row;
}

.side-bar {
    border-bottom: 3px solid rgb(102,102,102);
    padding-bottom: 25px;
}